# Virtual Environment
venv/

# System files
.DS_Store

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Unit test / coverage reports
tests/
.coverage
htmlcov/

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Local configuration
.env
.env.local